@page "/Settings/Channels"

<h3>Channels</h3>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Module Id</th>
			<th>Type Id</th>
			<th>Data</th>
		</tr>
	</thead>
	<tbody>
		@if (CurrentChannels != null) {
			foreach (var i in this.CurrentChannels) {
				<tr>
					<td>@i.Id</td>
					<td>@i.Name</td>
					<td>@i.ModuleId</td>
					<td>@i.ChannelTypeId</td>
					<td>@i.ChannelData</td>
				</tr>
			}
		}
	</tbody>
</table>


<h3>Channel Types</h3>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Type</th>
		</tr>
	</thead>
	<tbody>
		@if (ChannelTypes != null) {
			foreach (var i in this.ChannelTypes) {
				<tr>
					<td>@i.Id</td>
					<td>@i.Name</td>
					<td>@i.TypeInfo</td>
				</tr>
			}
		}
	</tbody>
</table>